body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #222224;
  text-align: center;
  background-color: white }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  background-color: #EAE6F6;
  text-align: center;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  font-family: 'Mrs Saint Delafield';
  font-size: 80px }
  /* font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif } */
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
   color: #222224 }
a:visited {
  color: #222224 }
a:active {
  color: #AFA7C3
}
a:hover {
  color: #AFA7C3
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }


  .wrapper {
    display: grid;
    grid-template-columns: 100px auto auto;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }


  .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
      .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
      }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
      .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
      }
  }
